In [29]:
import pandas as pd
import numpy as np

In [30]:
df = pd.read_csv('Deposit_of_the_bank_of_deposit.csv', encoding='CP949')

In [31]:
df

,행정구역별,1995.12,1996.01,1996.02,1996.03,1996.04,1996.05,1996.06,1996.07,1996.08,...,2022.02,2022.03,2022.04,2022.05,2022.06,2022.07,2022.08,2022.09,2022.10,2022.11
0,전국,154136.1,143666.1,147261.2,147167.9,151455.3,153045.4,157512.6,156627.3,157601.3,...,1883180.7,1903613.6,1897971.8,1920415.4,1946585.8,1925520.4,1932799.0,1958348.3,1967290.0,1970661.1
1,서울특별시,76028.6,69971.8,71498.2,72149.5,74701.9,75633.1,77257.6,76998.8,77287.8,...,1028041.5,1039477.0,1020247.1,1021734.0,1044108.9,1028180.6,1024076.4,1041342.5,1043267.0,1044334.0
2,부산광역시,11883.6,11251.3,11447.3,11481.8,11706,11760.7,12174.6,12028.5,12050.6,...,94803.3,95354.7,95464.4,96055.6,95758.3,94957.3,97164.3,97602.3,97987.1,98362.3
3,대구광역시,7821.2,7561.3,7555.2,7691,7877,7990.1,8303.5,8113.3,8105.2,...,61409.1,62078.2,63616.2,64936.4,64409.8,63920.7,64156.3,63989.1,64291.1,63204.9
4,인천광역시,6036.2,5800.4,5969.7,6039.4,6135.4,6117.6,6396.9,6382.3,6375.3,...,57264.7,57822.4,58367.2,58776.6,59446.3,59074.6,59454.0,59877.2,59444.2,59778.7
5,광주광역시,3362.2,3259.3,3371.8,3278.8,3442.9,3540.8,3567.6,3613.7,3699,...,29899.0,29910.3,29927.0,30574.6,30838.7,30953.8,31419.4,31112.0,31212.6,31143.8
6,대전광역시,3388.3,3178,3220.6,3213.8,3163.2,3224.3,3406,3276.1,3363.5,...,45355.8,46841.5,47406.4,53458.5,51347.9,48238.1,48388.7,48445.9,48445.5,48571.8
7,울산광역시,-,-,-,-,-,-,-,-,-,...,19855.9,20391.6,20296.6,21057.6,21293.2,21352.7,21379.3,22044.0,22572.3,22790.7
8,세종특별자치시,17738.6,17018,17715.5,17659.5,18153.2,18406.2,19188.7,19271.2,19395.4,...,269515.7,271515.6,273330.4,276826.2,280971.9,277610.8,281053.1,283879.4,285791.1,287030.7
9,경기도,2720.2,2457.7,2492,2367,2366,2369.3,2402.5,2419.3,2487.1,...,30139.9,31148.0,32606.1,34266.6,33879.5,33279.7,33437.4,33401.5,33643.5,33017.5
10,강원도,2306.1,2133.2,2218.8,2144.8,2222.5,2216.8,2313.9,2270.2,2297.2,...,25880.0,26239.3,27221.3,28013.8,28275.9,28048.6,28812.4,29405.8,29688.6,29865.5
11,충청북도,2641.5,2376.4,2590.3,2479.6,2562.7,2565.8,2637.7,2627.5,2655.3,...,30688.9,31002.4,31926.5,32862.8,33060.8,33130.1,34316.8,34960.8,35195.8,35557.0
12,충청남도,3375,3152.6,3233.8,3118.1,3121.7,3194.2,3270.7,3289.8,3307.2,...,41971.4,41565.4,42127.9,41981.6,42252.2,43191.0,43245.8,43362.5,45005.5,45765.3
13,전라북도,2541.1,2330.8,2381.7,2321.5,2378,2366.3,2485.2,2491.4,2529.1,...,27595.2,26612.6,27908.7,29741.3,29761.7,30748.6,32300.7,33287.0,32057.9,32028.4
14,전라남도,4675.1,4232.9,4346.4,4278.2,4519.2,4468,4541,4459.7,4547.3,...,38857.0,40186.6,41885.1,43261.5,44137.9,44264.5,44964.3,45942.1,46827.5,48347.5
15,경상북도,8519.3,7909,8192.5,7951.8,8100.9,8184.5,8518.1,8369.9,8452.8,...,55056.2,56168.7,57433.6,59004.6,59514.8,59733.1,60077.0,61245.4,62201.9,61122.3
16,경상남도,1099.3,1033.3,1027.3,993.2,1004.6,1007.8,1048.6,1015.5,1048.6,...,11310.6,11501.3,12305.1,12565.0,12349.1,12671.0,12621.0,12617.6,13853.8,13990.4
17,제주특별자치도,-,-,-,-,-,-,-,-,-,...,15536.6,15798.1,15902.5,15298.7,15178.8,16165.0,15932.2,15833.3,15804.7,15750.3

In [32]:
df.iloc[:, 0]

0          전국
1       서울특별시
2       부산광역시
3       대구광역시
4       인천광역시
5       광주광역시
6       대전광역시
7       울산광역시
8     세종특별자치시
9         경기도
10        강원도
11       충청북도
12       충청남도
13       전라북도
14       전라남도
15       경상북도
16       경상남도
17    제주특별자치도
Name: 행정구역별, dtype: object

In [33]:
# df.index = df.iloc[:, 0]
# df = df.iloc[:, 1:]
df.T

행정구역별,전국,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도
1995.12,154136.1,76028.6,11883.6,7821.2,6036.2,3362.2,3388.3,-,17738.6,2720.2,2306.1,2641.5,3375,2541.1,4675.1,8519.3,1099.3,-
1996.01,143666.1,69971.8,11251.3,7561.3,5800.4,3259.3,3178,-,17018,2457.7,2133.2,2376.4,3152.6,2330.8,4232.9,7909,1033.3,-
1996.02,147261.2,71498.2,11447.3,7555.2,5969.7,3371.8,3220.6,-,17715.5,2492,2218.8,2590.3,3233.8,2381.7,4346.4,8192.5,1027.3,-
1996.03,147167.9,72149.5,11481.8,7691,6039.4,3278.8,3213.8,-,17659.5,2367,2144.8,2479.6,3118.1,2321.5,4278.2,7951.8,993.2,-
1996.04,151455.3,74701.9,11706,7877,6135.4,3442.9,3163.2,-,18153.2,2366,2222.5,2562.7,3121.7,2378,4519.2,8100.9,1004.6,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022.07,1925520.4,1028180.6,94957.3,63920.7,59074.6,30953.8,48238.1,21352.7,277610.8,33279.7,28048.6,33130.1,43191.0,30748.6,44264.5,59733.1,12671.0,16165.0
2022.08,1932799.0,1024076.4,97164.3,64156.3,59454.0,31419.4,48388.7,21379.3,281053.1,33437.4,28812.4,34316.8,43245.8,32300.7,44964.3,60077.0,12621.0,15932.2
2022.09,1958348.3,1041342.5,97602.3,63989.1,59877.2,31112.0,48445.9,22044.0,283879.4,33401.5,29405.8,34960.8,43362.5,33287.0,45942.1,61245.4,12617.6,15833.3
2022.10,1967290.0,1043267.0,97987.1,64291.1,59444.2,31212.6,48445.5,22572.3,285791.1,33643.5,29688.6,35195.8,45005.5,32057.9,46827.5,62201.9,13853.8,15804.7
2022.11,1970661.1,1044334.0,98362.3,63204.9,59778.7,31143.8,48571.8,22790.7,287030.7,33017.5,29865.5,35557.0,45765.3,32028.4,48347.5,61122.3,13990.4,15750.3

In [34]:
df.to_excel('After_preprocessing/Deposit_of_the_bank_of_deposit.xlsx')