# 데이터 전처리

In [2]:
import pandas as pd
import numpy as np

#### 영유아 1인당 보육시설 수 : 보육시설 수 / 0-6세의 총 영유아 인구

In [168]:
# 1) 보육시설 수 (childcare facilities)
childcare_fc = pd.read_excel('./0_데이터 전처리 전/2008-2021_영유아, 보육시설 종합본.xlsx', sheet_name = '보육시설 수')

# 데이터프레임 설정
# index를 행정구역으로 설정
childcare_fc = childcare_fc.set_index('보육시설 수')

# 열 재지정
childcare_fc.columns = ['2008년', '2009년', '2010년', '2011년', '2012년', '2013년', '2014년', '2015년', '2016년', 
                                       '2017년', '2018년', '2019년', '2020년', '2021년']
childcare_fc = childcare_fc.drop('행정기관')
childcare_fc

,2008년,2009년,2010년,2011년,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
보육시설 수,,,,,,,,,,,,,,
전국,33499,35550,38021,39842,42527,43770,43742,42517,41084,40238,39171,37371,35352,33246
서울특별시,5600,5684,5870,6105,6538,6742,6787,6598,6368,6226,6008,5698,5370,5049
부산광역시,1651,1655,1689,1740,1830,1897,1957,1971,1937,1920,1891,1848,1778,1668
대구광역시,1426,1500,1544,1561,1580,1590,1588,1539,1483,1464,1405,1322,1268,1187
인천광역시,1652,1773,1857,1998,2181,2263,2308,2278,2231,2186,2141,2049,1943,1803
광주광역시,1096,1153,1192,1205,1239,1251,1260,1264,1238,1240,1195,1122,1072,1002
대전광역시,1318,1417,1535,1599,1659,1680,1698,1669,1584,1505,1406,1288,1185,1101
울산광역시,609,660,754,818,893,933,946,934,895,881,868,842,790,720
세종특별자치시,0,0,0,0,106,118,160,216,250,289,343,359,350,343
경기도,9712,10465,11273,11825,12869,13364,13259,12689,12120,11825,11682,11305,10761,10136
강원도,885,926,1085,1147,1244,1265,1257,1227,1180,1149,1086,1036,999,954
충청북도,950,1037,1112,1133,1179,1212,1229,1230,1208,1186,1157,1130,1082,1042
충청남도,1344,1470,1687,1857,1991,2083,2053,1988,1974,1955,1916,1812,1717,1625
전라북도,1479,1506,1531,1580,1620,1647,1654,1623,1562,1497,1397,1288,1195,1115
전라남도,1054,1114,1135,1161,1188,1222,1242,1238,1251,1241,1205,1147,1084,1051
경상북도,1708,1827,1998,2162,2264,2273,2212,2130,2102,2063,1976,1844,1725,1617
경상남도,2539,2861,3234,3399,3562,3626,3533,3349,3158,3084,2982,2777,2544,2357
제주특별자치도,476,502,525,552,584,604,599,574,543,527,513,504,489,476

In [160]:
# 2) 영유아 수 (infants)
infants = pd.read_excel('./0_데이터 전처리 전/2008-2021_영유아, 보육시설 종합본.xlsx', sheet_name = '영유아 수')

# 데이터프레임 설정
# index를 행정구역으로 설정
infants = infants.set_index('만 0 ~ 6세 영유아 수')

# 열 재지정 (2006 ~ 2007년도 추가)
infants.columns = ['2008년', '2009년', '2010년', '2011년', '2012년', '2013년', '2014년', '2015년', '2016년', 
                                       '2017년', '2018년', '2019년', '2020년', '2021년']
infants = infants.drop('행정기관')
infants

,2008년,2009년,2010년,2011년,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
만 0 ~ 6세 영유아 수,,,,,,,,,,,,,,
전국,3277632,3229577,3208694,3212933,3265160,3264476,3210156,3187718,3153489,3044577,2904953,2726967,2562100,2387763
서울특별시,612207,600593,588203,579444,581694,574126,559662,546824,530484,504604,471155,438969,407374,375106
부산광역시,186794,182462,180025,180967,185269,187305,186105,187693,187409,180213,171569,159957,150182,138947
대구광역시,151952,148663,145683,145045,146806,146696,143732,142823,142275,137711,131434,122898,114490,105524
인천광역시,181653,179748,178318,183250,190111,192549,190178,189521,186583,178698,169605,158855,147412,138349
광주광역시,103614,102573,101468,101296,102549,102130,99665,97599,95232,91407,86978,81232,75795,71441
대전광역시,106136,103942,102962,103693,105569,106057,103199,99724,97680,92647,86476,79447,73389,68117
울산광역시,78808,77758,77069,78133,80473,81651,81650,81922,81221,78312,74028,68923,63769,57970
세종특별자치시,0,0,0,0,8542,9499,13934,20941,24353,27793,30508,31742,31317,30746
경기도,862079,855744,862009,865227,881034,881883,866844,862159,860224,838610,816247,776603,743268,702824
강원도,93516,91288,89715,88462,88422,87391,84976,83855,81964,78458,74334,70577,67866,64676
충청북도,101382,100023,100252,100985,102070,102064,99865,98631,97656,94031,90073,84531,79742,74651
충청남도,137723,138021,139744,142123,139185,139918,137570,136809,136336,133264,127566,118988,111235,103232
전라북도,117602,114887,113481,113344,114150,113709,110999,108996,106734,101312,94615,86986,80434,73604
전라남도,116649,113212,111547,111225,112748,112187,109834,109694,108200,103413,97018,90196,84424,77930
경상북도,162967,158597,157003,157738,159769,159692,157132,156764,155467,149782,141547,131841,122242,113044
경상남도,222172,220807,220576,221388,225299,225581,222564,220697,217810,210705,199210,184918,170795,155419
제주특별자치도,42378,41259,40639,40613,41470,42038,42247,43066,43861,43617,42590,40304,38366,36183

In [94]:
infants['2008년'][1] / childcare_fc['2008년'][1]

109.32267857142857

In [169]:
# 3) 영유아 1인당 보육시설 수 (childcare_fc_per_one_infants)

## [1] 빈 데이터프레임 형성
infants.shape, childcare_fc.shape
index = ['전국', '서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시', '울산광역시', 
         '세종특별자치시', '경기도', '강원도', '충청북도', '충청남도', '전라북도', '전라남도', '경상북도', '경상남도', '제주특별자치도']

childcare_fc_per_one_infants = pd.DataFrame(np.nan, index = index, columns = infants.columns)
# 원하는 위치에 열 추가
childcare_fc_per_one_infants.insert(0, '2006년', np.nan)
childcare_fc_per_one_infants.insert(1, '2007년', np.nan)
childcare_fc_per_one_infants

,2006년,2007년,2008년,2009년,2010년,2011년,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
전국,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
서울특별시,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
부산광역시,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
대구광역시,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
인천광역시,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
광주광역시,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
대전광역시,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
울산광역시,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
세종특별자치시,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
경기도,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
강원도,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
충청북도,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
충청남도,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
전라북도,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
전라남도,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
경상북도,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
경상남도,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
제주특별자치도,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [174]:
## [2] 나눗셈 연산을 위한 보육시설 수와 영유아수의 0값 --> 1로 변경
childcare_fc.iloc[8] = childcare_fc.iloc[8].replace(0, 1)
infants.iloc[8] = infants.iloc[8].replace(0, 1)

# [3] 영유아 1인당 보육시설 수
for col in list(infants.columns) :
    for idx in range(len(infants.index)) : 
        childcare_fc_per_one_infants[col][idx] = childcare_fc[col][idx] / infants[col][idx]   #infants['2008년'][1]
        childcare_fc_per_one_infants = round(childcare_fc_per_one_infants, 4)
        
        # 세종시 1값 --> 0으로 변경
        childcare_fc_per_one_infants.iloc[8] = childcare_fc_per_one_infants.iloc[8].replace(1, 0)
        
# 2006년, 2007년 nan --> 0으로 변경
childcare_fc_per_one_infants.fillna(0, inplace = True)
childcare_fc_per_one_infants

,2006년,2007년,2008년,2009년,2010년,2011년,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
전국,0.0,0.0,0.0102,0.0110,0.0118,0.0124,0.0130,0.0134,0.0136,0.0133,0.0130,0.0132,0.0135,0.0137,0.0138,0.0139
서울특별시,0.0,0.0,0.0091,0.0095,0.0100,0.0105,0.0112,0.0117,0.0121,0.0121,0.0120,0.0123,0.0128,0.0130,0.0132,0.0135
부산광역시,0.0,0.0,0.0088,0.0091,0.0094,0.0096,0.0099,0.0101,0.0105,0.0105,0.0103,0.0107,0.0110,0.0116,0.0118,0.0120
대구광역시,0.0,0.0,0.0094,0.0101,0.0106,0.0108,0.0108,0.0108,0.0110,0.0108,0.0104,0.0106,0.0107,0.0108,0.0111,0.0112
인천광역시,0.0,0.0,0.0091,0.0099,0.0104,0.0109,0.0115,0.0118,0.0121,0.0120,0.0120,0.0122,0.0126,0.0129,0.0132,0.0130
광주광역시,0.0,0.0,0.0106,0.0112,0.0117,0.0119,0.0121,0.0122,0.0126,0.0130,0.0130,0.0136,0.0137,0.0138,0.0141,0.0140
대전광역시,0.0,0.0,0.0124,0.0136,0.0149,0.0154,0.0157,0.0158,0.0165,0.0167,0.0162,0.0162,0.0163,0.0162,0.0161,0.0162
울산광역시,0.0,0.0,0.0077,0.0085,0.0098,0.0105,0.0111,0.0114,0.0116,0.0114,0.0110,0.0112,0.0117,0.0122,0.0124,0.0124
세종특별자치시,0.0,0.0,0.0000,0.0000,0.0000,0.0000,0.0124,0.0124,0.0115,0.0103,0.0103,0.0104,0.0112,0.0113,0.0112,0.0112
경기도,0.0,0.0,0.0113,0.0122,0.0131,0.0137,0.0146,0.0152,0.0153,0.0147,0.0141,0.0141,0.0143,0.0146,0.0145,0.0144
강원도,0.0,0.0,0.0095,0.0101,0.0121,0.0130,0.0141,0.0145,0.0148,0.0146,0.0144,0.0146,0.0146,0.0147,0.0147,0.0148
충청북도,0.0,0.0,0.0094,0.0104,0.0111,0.0112,0.0116,0.0119,0.0123,0.0125,0.0124,0.0126,0.0128,0.0134,0.0136,0.0140
충청남도,0.0,0.0,0.0098,0.0107,0.0121,0.0131,0.0143,0.0149,0.0149,0.0145,0.0145,0.0147,0.0150,0.0152,0.0154,0.0157
전라북도,0.0,0.0,0.0126,0.0131,0.0135,0.0139,0.0142,0.0145,0.0149,0.0149,0.0146,0.0148,0.0148,0.0148,0.0149,0.0151
전라남도,0.0,0.0,0.0090,0.0098,0.0102,0.0104,0.0105,0.0109,0.0113,0.0113,0.0116,0.0120,0.0124,0.0127,0.0128,0.0135
경상북도,0.0,0.0,0.0105,0.0115,0.0127,0.0137,0.0142,0.0142,0.0141,0.0136,0.0135,0.0138,0.0140,0.0140,0.0141,0.0143
경상남도,0.0,0.0,0.0114,0.0130,0.0147,0.0154,0.0158,0.0161,0.0159,0.0152,0.0145,0.0146,0.0150,0.0150,0.0149,0.0152
제주특별자치도,0.0,0.0,0.0112,0.0122,0.0129,0.0136,0.0141,0.0144,0.0142,0.0133,0.0124,0.0121,0.0120,0.0125,0.0127,0.0132

In [175]:
childcare_fc_per_one_infants.to_excel('2006-2021_영유아(만 0-6세) 천명당 보육시설 수.xlsx')

#### 종합체육시설 수

In [241]:
# 체육시설(sports_fc1)
sports_fc1 = pd.read_excel('./0_데이터 전처리 전/2006-2021_종합체육시설.xlsx', sheet_name = '체육시설')
sports_fc1 = sports_fc1.drop([0, 1])
sports_fc1 = sports_fc1.set_index('소재지(시도)별(1)')
sports_fc1.index.name = None
sports_fc1.fillna(0, inplace = True)

# 운동장(sports_fc2)
sports_fc2 = pd.read_excel('./0_데이터 전처리 전/2006-2021_종합체육시설.xlsx', sheet_name = '운동장')
sports_fc2 = sports_fc2.drop([0, 1])
sports_fc2 = sports_fc2.set_index('소재지(시도)별(1)')
sports_fc2.index.name = None
sports_fc2.fillna(0, inplace = True)
# 2018 ~ 2021 열 추가
sports_fc2['2018'] = 0
sports_fc2['2019'] = 0
sports_fc2['2020'] = 0
sports_fc2['2021'] = 0

# 운동장 + 체육시설
total_sports_fc = sports_fc1 + sports_fc2
total_sports_fc

,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
전국,581,39787,823,982,1019,1074,1142,1182,1267,1290,1326,1367,1418,1435,1457,1496
서울특별시,26,33,33,35,40,41,45,47,49,49,49,53,55,56,60,62
부산광역시,24,25,24,24,24,25,25,26,27,28,28,30,32,32,32,33
대구광역시,4,7,7,7,8,10,11,11,12,12,13,15,15,16,18,18
인천광역시,19,19,13,13,16,19,18,18,45,51,54,55,56,56,58,59
광주광역시,6,6,10,11,12,12,14,13,15,16,16,16,16,16,16,16
대전광역시,5,5,10,11,12,12,14,14,14,14,16,17,17,18,17,21
울산광역시,14,14,21,34,30,30,32,37,38,38,37,38,38,39,39,39
세종특별자치시,0,0,0,0,0,0,13,13,12,12,12,12,14,14,17,17
경기도,105,136,212,254,289,301,318,324,341,338,359,363,380,384,377,388
강원도,101,106,114,132,83,86,92,93,100,104,108,117,119,120,122,123
충청북도,26,30,41,51,64,66,72,79,85,86,87,93,97,99,101,100
충청남도,21,30,42,50,53,57,56,58,57,59,61,61,63,64,65,72
전라북도,25,28,42,50,57,59,62,63,71,71,72,73,76,78,86,87
전라남도,69,77,71,87,93,97,100,103,104,105,103,105,109,109,109,112
경상북도,51,39180,74,84,98,109,112,117,126,126,130,132,132,133,134,140
경상남도,62,67,85,113,114,124,132,139,144,154,154,158,169,171,176,182
제주특별자치도,23,24,24,26,26,26,26,27,27,27,27,29,30,30,30,27

In [242]:
total_sports_fc.to_excel('2006-2021_종합체육시설 수.xlsx')

#### 대형마트 수

In [295]:
market = pd.read_excel('./0_데이터 전처리 전/전국_대형마트_현황.xlsx')
market = market.set_index('동별(1)')
market.index.name = None
market

,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
전국,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
서울특별시,0.0,0.0,0.0,60.0,62.0,63.0,58.0,58.0,62.0,62.0,62.0,61.0,59.0,59.0,57.0,57.0
부산광역시,33.0,30.0,35.0,36.0,36.0,39.0,39.0,35.0,36.0,36.0,35.0,34.0,34.0,34.0,0.0,0.0
대구광역시,0.0,18.0,17.0,17.0,19.0,19.0,18.0,19.0,19.0,19.0,19.0,22.0,21.0,21.0,21.0,0.0
인천광역시,0.0,0.0,0.0,0.0,0.0,0.0,26.0,27.0,27.0,26.0,28.0,28.0,27.0,27.0,0.0,0.0
광주광역시,0.0,0.0,0.0,0.0,0.0,0.0,14.0,14.0,12.0,12.0,12.0,12.0,12.0,12.0,0.0,0.0
대전광역시,0.0,0.0,0.0,0.0,0.0,0.0,14.0,14.0,14.0,14.0,14.0,14.0,14.0,14.0,14.0,0.0
울산광역시,12.0,12.0,13.0,13.0,11.0,11.0,12.0,12.0,12.0,12.0,11.0,10.0,10.0,10.0,0.0,0.0
세종특별자치시,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,3.0,3.0,3.0,3.0,3.0,0.0,0.0
경기도,72.0,75.0,80.0,88.0,99.0,98.0,102.0,103.0,111.0,116.0,114.0,122.0,120.0,118.0,115.0,0.0
강원도,10.0,9.0,9.0,10.0,12.0,13.0,12.0,14.0,15.0,15.0,16.0,15.0,16.0,16.0,17.0,0.0
충청북도,7.0,9.0,9.0,10.0,9.0,11.0,11.0,14.0,14.0,14.0,14.0,14.0,14.0,15.0,0.0,0.0
충청남도,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,22.0,22.0,22.0,23.0,23.0,22.0,21.0,0.0
전라북도,10.0,11.0,14.0,16.0,15.0,16.0,18.0,18.0,19.0,19.0,19.0,17.0,17.0,17.0,0.0,0.0
전라남도,11.0,10.0,11.0,12.0,12.0,13.0,13.0,13.0,13.0,13.0,14.0,13.0,13.0,16.0,0.0,0.0
경상북도,0.0,0.0,0.0,0.0,0.0,27.0,28.0,27.0,24.0,23.0,23.0,26.0,24.0,22.0,24.0,0.0
경상남도,13.0,19.0,21.0,25.0,24.0,24.0,28.0,30.0,29.0,28.0,28.0,31.0,29.0,28.0,0.0,0.0
제주특별자치도,0.0,0.0,0.0,0.0,0.0,6.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,0.0,0.0

In [296]:
market[2006].sum()

168.0

In [297]:
market.columns[0]

2006

In [299]:
for i in range(len(market.columns)) :
    market.iloc[0, i] = market[market.columns[i]].sum()
market.to_excel('2006-2021_전국 대형마트 수.xlsx')

In [315]:
# 근린 공원 수
citizenr_park = pd.read_excel('./0_데이터 전처리 전/2006-2021_근린공원수.xlsx')
citizenr_park.drop([0, 1], inplace = True)
citizenr_park.set_index('소재지(시군구)별(1)', inplace = True)
citizenr_park.index.name = None
citizenr_park.fillna(0, inplace = True)
citizenr_park.to_excel('2006-2021_근린공원 수.xlsx')

#### 남성육아휴직수

# 혼인건수(married) 
married = pd.read_excel('./0_데이터 전처리 전/2008-2020_육아휴직_성_시도별.xlsx', sheet_name = '혼인건수')
married.set_index('시점', inplace = True)
married.index.name = None
married = married.T

# 데이터프레임 shape 같게 하기
del married[2006]
del married[2007]
del married[2021]

# 나눗셈을 위해 0값 --> 1로 변경
married.iloc[8] = married.iloc[8].replace(0, 1)
married

# 남성육아휴직수(parental_leave_man)
parental_leave_man = pd.read_excel('./0_데이터 전처리 전/2008-2020_육아휴직_성_시도별.xlsx', sheet_name = '초회수급자_남자')
del parental_leave_man['성별(1)']
parental_leave_man.drop([0], inplace = True)
parental_leave_man.set_index('행정구역별(1)', inplace = True)
parental_leave_man.index.name = None

# 나눗셈을 위해 0값 --> 1로 변경
parental_leave_man.iloc[8] = parental_leave_man.iloc[8].replace(0, 1)
parental_leave_man.iloc[0] = (parental_leave_man.values / married.values)[0]
parental_leave_man

for col in parental_leave_man.columns :
    for idx in range(len(parental_leave_man.index)) : 
        parental_leave_man[col][idx] = parental_leave_man[col][idx] / married[col][idx]
        parental_leave_man_per_married = round(parental_leave_man, 4)
        parental_leave_man_per_married

In [482]:
# 남성육아휴직수(parental_leave_man)
parental_leave_man = pd.read_excel('./0_데이터 전처리 전/2008-2020_육아휴직_성_시도별.xlsx', sheet_name = '초회수급자_남자')
del parental_leave_man['성별(1)']
parental_leave_man.drop([0], inplace = True)
parental_leave_man.set_index('행정구역별(1)', inplace = True)
parental_leave_man.index.name = None

parental_leave_man.insert(0, '2006', 0)
parental_leave_man.insert(1, '2007', 0)
parental_leave_man['2021'] = 0

parental_leave_man.to_excel('2006-2021_남성육아휴직수.xlsx')

In [484]:
# 산부인과 (gynecology) - 월별/분기별 평균
gynecology = pd.read_excel('./0_데이터 전처리 전/2006-2021_전국_산부인과_수.xlsx', sheet_name = '연도별 산부인과')
gynecology.set_index('시군구별(1)', inplace = True)
gynecology.index.name = None
gynecology = gynecology.astype('int')
gynecology.index = ['전국', '서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시', '울산광역시', '세종특별자치시', 
                    '경기도', '강원도', '충청북도', '충청남도', '전라북도', '전라남도', '경상북도', '경상남도', '제주특별자치도']
gynecology.to_excel('2006-2021_산부인과 수.xlsx')

#### 도시화율 : (지역의 도시면적 / 총 토지 면적) * 100

In [512]:
# 총 토지 면적(land_size)
land_size = pd.read_excel('./0_데이터 전처리 전/2006-2021_총_토지면적(지목별).xlsx')
land_size.drop([0], inplace = True)
land_size.set_index('소재지(시군구)별(1)', inplace = True)
land_size.index.name = None
# 나눗셈을 위해 0값 --> 1로 변경
land_size.iloc[8] = land_size.iloc[8].replace(0, 1)
land_size

# 도시면적(city_size)
city_size = pd.read_excel('./0_데이터 전처리 전/2006-2021_도시지역면적.xlsx')
city_size.set_index('소재지(시군구)별', inplace = True)
city_size.index.name = None
# 나눗셈을 위해 0값 --> 1로 변경
city_size.iloc[8] = city_size.iloc[8].replace(0, 1)
city_size

# 도시화율
for idx in range(len(city_size.index)) : 
    city_size.iloc[idx] = (city_size.values / land_size.values)[idx]
    urbanization_rate = round(city_size, 4)
urbanization_rate.to_excel('2006-2021_도시화율.xlsx')